/* =======================================================
    BASE STYLES
======================================================= */
:root {
	--clr-bg: #000000;
	--clr-text: #ffffff;
	--clr-muted: #cce462;
	--clr-accent: #bcb200;
	--clr-accent-alt: #eed200;
	--clr-overlay: rgba(18, 18, 18, 0.6);
	--clr-border: rgba(255, 255, 255, 0.08);
	--clr-btn-hover: var(--clr-accent-alt);
	--clr-terminal-accent: #d1c050;
	--clr-terminal-faded: #d1c0503e;
	--clr-project-hover: var(--clr-accent);
	--clr-form-bg: rgba(63, 63, 63, 0.4);
	--clr-footer-bg: rgba(63, 63, 63, 0.6);
}

body {
	font-family: 'Inter', sans-serif;
	background-color: var(--clr-bg);
	color: var(--clr-text);
	margin: 0;
	line-height: 1.6;
	background-image: url('../images/background.png');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.container {
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 2rem;
}

.darkback {
	background-color: var(--clr-bg);
}

/* =======================================================
    GLASSMODERN BASE
======================================================= */
.glass {
	background: var(--clr-overlay);
	border: 1px solid var(--clr-border);
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
	border-radius: 12px;
	transition: all 0.3s ease;
}


/* =======================================================
        HEADER
    ======================================================= */
header {
	position: sticky;
	top: 0;
	width: 100%;
	max-height: 60px;
	background: rgba(18, 18, 18, 0.9);
	backdrop-filter: blur(10px);
	z-index: 99999;
	border-bottom: 1px solid var(--clr-border);
	border-radius: 0 0 20px 20px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
	padding: 0.25rem 1.5rem;
}

header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--clr-accent);
	text-transform: uppercase;
}

.nav-links {
	display: flex;
	list-style: none;
	gap: 2rem;
	margin: 0;
	padding: 0;
}

.nav-links a {
	text-decoration: none;
	color: var(--clr-text);
	font-weight: 500;
	transition: color 0.3s ease;
}

.nav-links a:hover {
	color: var(--clr-accent);
}

/* =======================================================
    HERO SECTION
======================================================= */
.hero {
	position: relative;
	padding: 6rem 2rem;
	min-height: 600px;

	z-index: 0;
}

.hero::before {
	content: "";
	position: absolute;
	inset: 0;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0.75), transparent);
	backdrop-filter: blur(5px);
	z-index: -1;
}

.hero-flex {
	display: flex;
	justify-content: center;
	gap: 3rem;
	max-width: 1300px;
	margin: 0 auto;
	flex-wrap: wrap;
}

/* =======================================================
        PROFILE & TERMINAL SECTION
    ======================================================= */

.profile-container,
.terminal-container {
	flex: 1 1 0;
	min-width: 300px;
	max-width: 900px;

}

/* PROFILE CARD */
.profile-container {
	position: relative;
	height: 520px;
	border-radius: 20px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background: rgba(18, 18, 18, 0.6);
	backdrop-filter: blur(10px);
	border: 1px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
	transition: transform 0.2s ease;
	transform-style: preserve-3d;
	max-width: 300px;
	width: 100%;
}

.profile-bg {
	position: absolute;
	inset: 0;
}

.profile-bg img {
	width: 90%;
	height: 93%;
	object-fit: cover;
	display: block;
	margin: 1rem;
	border-radius: 20px;
	position: relative;
}

.profile-overlay {
	position: relative;
	z-index: 1;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
	padding: 1.5rem 1rem;
	color: #ffffff;
	text-align: left;
	backdrop-filter: blur(1px);
	border-radius: 40px;
}

.profile-overlay::before {
	content: "";
	position: absolute;
	inset: 0;
	z-index: -1;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.75), transparent);
	backdrop-filter: blur(8px);
}

.profile-overlay h2 {
	font-size: 1.2rem;
	margin: 0;
	font-weight: 600;
}

.subtitle {
	font-size: 0.85rem;
	color: #bbbbbb;
	margin-top: 0.25rem;
	margin-bottom: 1rem;
	white-space: normal;
	word-wrap: break-word;
}

.contact-btn {
	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid #bbbbbb;
	color: #ffffff;
	border-radius: 8px;
	padding: 0.5rem 1rem;
	font-size: 0.9rem;
	cursor: pointer;
	transition: background-color 0.2s;
	align-self: center;
}

.contact-btn:hover {
	background-color: #7319fa;
	color: white;
}

/* TERMINAL */
.terminal-container {
	display: flex;
	flex-direction: column;
	height: 520px;
	background: rgba(18, 18, 18, 0.6);
	border: 1px solid rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
	border-radius: 12px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
	overflow: hidden;
	transition: max-width 0.3s ease;

}

.terminal-topbar {
	background-color: rgba(255, 255, 255, 0.05);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 1rem;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	font-size: 0.9rem;
}

.window-buttons {
	display: flex;
	gap: 0.5rem;
}

.window-button {
	width: 16px;
	height: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	color: #bbbbbb;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 3px;
	cursor: default;
}

.terminal-output {
	flex: 1;
	overflow-y: auto;
	overflow-x: auto;
	white-space: pre-wrap;
	padding: 1.5rem;
	color: #ffffff;
	font-family: 'Courier New', monospace;
	word-break: break-word;
}

.terminal-prefix {
	color: #d1c050;
	font-weight: bold;
	overflow-y: auto;
	white-space: pre-wrap;
}

input[type="text"] {
	background: transparent;
	border: none;
	outline: none;
	color: #ffffff;
	font-family: inherit;
	font-size: 1rem;
	white-space: pre-wrap;
}

.terminal-input {
	padding: 1rem 1.5rem;
	font-family: 'Courier New', monospace;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}

/* =======================================================
    PROJECTS
======================================================= */
.projects {
	padding: 6rem 2rem;
	background: rgba(0, 0, 0);
}

.project-grid {
	display: grid;
	gap: 1.5rem;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.project-card {
	padding: 1.5rem;
	color: var(--clr-text);
	background: var(--clr-overlay);
	border-radius: 12px;
	transition: transform 0.3s ease;
	border: 1px solid transparent;
}

.project-card:hover {
	transform: scale(1.03);
	border: 1px solid var(--clr-accent);
}

/* =======================================================
    ABOUT & CONTACT
======================================================= */
.about,
.contact {
	padding: 6rem 1rem;
	background: rgba(0, 0, 0);
}

form input,
form textarea {
	background: rgba(63, 63, 63, 0.4);
	border: 1px solid var(--clr-border);
	color: var(--clr-text);
	padding: 1rem;
	border-radius: 8px;
	width: 100%;
	margin-bottom: 1rem;
	font-family: inherit;
}

button {
	background: var(--clr-accent);
	color: #000;
	padding: 0.75rem 1.5rem;
	border: none;
	border-radius: 6px;
	font-weight: bold;
	cursor: pointer;
}

button:hover {
	filter: brightness(1.1);
}


/* =======================================================
    FOOTER
======================================================= */
footer {
	text-align: center;
	padding: 2rem 1rem;
	background: rgba(63, 63, 63);
	color: var(--clr-muted);
}

/* =======================================================
    MOBILE RESPONSIVENESS
======================================================= */
@media (max-width: 600px) {
	.hero-flex {
		flex-direction: column;
	}

	.nav-links {
		flex-direction: column;
		gap: 0.5rem;
		margin-top: 1rem;
	}

	.terminal-container {
		display: none;
	}

	.profile-container {
		max-width: 90vw;
	}

	header .container {
		flex-direction: column;
		align-items: flex-start;
	}
}

/* =======================================================
    SPARKLE EFFECT
======================================================= */
#sparkle-container {
	position: fixed;
	top: 0;
	left: 0;
	pointer-events: none;
	z-index: 9999;
}

.sparkle {
	position: absolute;
	color: #d1c05013;
	;
	font-size: 30px;
	animation: sparkleFade 1s ease-out forwards;
	user-select: none;
	transform: translate(-50%, -50%);
	opacity: 0.9;
	backdrop-filter: blur(1px);
	margin: 5px;
	border-radius: 20px;
}

@keyframes sparkleFade {
	0% {
		transform: translate(-50%, -50%) scale(1);
		opacity: 1;
	}

	100% {
		transform: translate(-50%, -80%) scale(0.5);
		opacity: 0;
	}
}

/* =======================================================
    SCROLL FADE-IN ANIMATION
======================================================= */
.scroll-fade {
	opacity: 0;
	transform: translateY(40px);
	transition: all 0.6s ease-out;
}

.scroll-fade.in-view {
	opacity: 1;
	transform: translateY(0);
}

/*resume*/
.btn-print {
  z-index: 1;
  position: absolute;
  right: 20px;
  top: 20px;
}

.resume {
  font-size: 14px; /* was 13px */
  font-weight: 400;
  min-height: 1090px;
}

.resume h1 {
  font-size: 3em; /* was 2.8em */
  font-weight: 600;
  letter-spacing: -0.5px;
}

.resume h2 {
  font-size: 1.5em; /* was 1.4em */
  font-weight: 600;
  margin-bottom: 0;
}

.resume p {
  margin-bottom: 1em;
}

.resume ul {
  padding-left: 20px;
}

.resume__header, .resume__section {
  font-size: 1em; /* was 0.95em */
  padding: 2em 4em 0;
}

.resume__section {
  margin-bottom: 4em;
}

.resume__section-title {
  display: flex;
  align-items: center;
  margin-bottom: 1.4em;
}

.resume__section-title > i {
  margin-right: 0.6em;
  font-size: 1.1em;
  background-color: var(--clr-accent);
  color: white;
  border: 0.25em solid var(--clr-accent-alt);
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.6;
}

.resume__columns {
  display: flex;
  padding: 4em;
  padding-top: 0;
}

.resume__main {
  flex: 3;
  padding-right: 4em;
}

.resume__side {
  flex: 1;
}

.info-item {
  margin-bottom: 0.2em;
  font-weight: 300;
}

.info-label i {
  color: var(--clr-accent);
}

.xp-item {
  margin-bottom: 4em;
}

.xp-job {
  font-size: 1.2em; /* was 1.1em */
  font-weight: 600;
}

.xp-date {
  font-size: 0.85em; /* was 0.8em */
  margin-top: 0.3em;
  margin-bottom: 1em;
  color: var(--clr-accent);
}

.extra {
  margin-bottom: 2em;
}

.extra-info small {
  color: #aaa;
  display: inline-block;
  font-size: 0.75em; /* was 0.7em */
}

.extra-details {
  margin-top: 0.5em;
  background-color: var(--clr-border);
  width: 100%;
  height: 5px;
  position: relative;
  border-radius: 6px;
}

.extra-details__progress {
  background-color: var(--clr-accent);
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
}

@media print {
  body {
    min-width: initial !important;
  }

  .btn-print {
    display: none;
  }
}
